<html>
<head>
    <title>Folders</title>
</head>

<body>
    <h1>Folder Navigation</h1>
    <h3><br><br><br>{{ folderName }}</h3>
    <div style="margin-left: 50px">
        {% for folder in folders %}
        <br>
        <a href="{{ folder['id']}}">{{ folder['displayName'] }}</a><br>
        {% endfor %}
        <br><br><a href="/folders">Back to Home Folder</a><br>
    </div>
    <form action="mail" method="GET">
        <p><input type="submit" value="Load Mail (warning this is slow)" style="width:400px"</p>
    </form>
    <form action="topics" method="GET">
        <p><input type="submit" value="View Topics" style="width:400px"</p>
    </form>
    <form action="keyphrases" method="GET">
        <p><input type="submit" value="View Key Phrases" style="width:400px"</p>
    </form>
    <br />
    <br />
    <br />
    <form action="/home" method="POST">
        <p><input type="submit" value="Home" style="width:400px"</p>
    </form>
</body>
</html>