<html>
<title>Azure AD v2.0 App</title>
<body>
    <h1>Do you want to load your mail? </h1>
    <form action="/mail/0" method="GET">
        <p><input type="submit" value="First Page" style="width:400px"</p>
    </form>
    <form action="/mail/1" method="GET">
        <p><input type="submit" value="Second Page" style="width:400px"</p>
    </form>
    <form action="/mail/2" method="GET">
        <p><input type="submit" value="Third Page" style="width:400px"</p>
    </form>
    <br /><br /><br />
    <form action="/me" method="GET">
        <p><input type="submit" value="Home" style="width:400px"</p>
    </form>
</body>
</html>