<html>
<title>Azure AD v2.0 App</title>
<body>
    <h1>Successfully Logged In! </h1>
    <h3><br><br><br>User's Claims<br><br><br><br>{{ me }}</h3><br><br><br>
    <h3><br><br><br>Access Token<br><br><br><br>{{ token }}</h3><br><br><br>
    <form action="/mail" method="GET">
        <p><input type="submit" value="Load Mail (warning this is slow)" style="width:400px"</p>
    </form>
    <form action="/topics/0" method="GET">
        <p><input type="submit" value="View Topics" style="width:400px"</p>
    </form>
    <form action="/keyPhrases/0" method="GET">
        <p><input type="submit" value="View Key Phrases" style="width:400px"</p>
    </form>
    <br />
    <br />
    <br />
    <form action="/logout" method="POST">
        <p><input type="submit" value="Logout" style="width:400px"</p>
    </form>
</body>
</html>